---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="max-w-7xl mx-auto px-5 py-32 md:px-0">
		<Title title="Aviso Legal" classTitle={"text-left"} positionBar={"top"} />
		<p class="mt-10">Los materiales e información del sitio web de GastroLab son proporcionados a usted sin costo alguno y sin mediar compromiso alguno, explícito o implícito. Los editores de este sitio web han hecho su mejor esfuerzo para que la información que se les proporciona sea la más actual y exacta posible. Como las ciencias médicas están en constante evolución y la información disponible cambia día a día, los editores de este sitio web no aseguran que la información que se proporciona en un momento dado sea la más exacta, actual y completa, ni se hacen responsables por omisiones o errores que pudieran haber ni por el resultado del uso que le puedan dar a la información que se proporciona aquí.</p>
		<p class="mt-5">Los visitantes de nuestro sitio web deben confirmar la información que se les proporciona, consultando otras fuentes antes de su uso. Los hipervínculos que proporcionamos en varias partes de nuestro sitio web lo conectan a sitios web operados por otras instituciones o empresas. Estos hipervínculos se proporcionan únicamente para su conveniencia, sin que esto signifique, por nuestra parte, ningún tipo de endose del contenido de esos otros sitios web ni ninguna asociación con los operadores de los otros sitios web. No somos responsables del contenido o comportamiento de los otros sitios web.</p>
		<p class="mt-5">El uso de hipervínculos a otros sitios web a partir del nuestro es de su entera responsabilidad incluyendo cualquier riesgo asociado con virus informáticos destructivos. Cualquier producto de marca que se mencione en nuestro sitio web que no sea las marcas de nuestra empresa, son marcas registradas de sus respectivos propietarios. La mención en nuestro sitio web a estas marcas de terceros no implica o constituye necesariamente, por parte nuestra, algún tipo de endose, patrocinio o recomendación de productos o servicios vinculados con tales marcas.</p>
	</div>
</Layout>