---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="max-w-7xl mx-auto px-5 py-32 md:px-0">
		<Title title="Política de Confidencialidad" classTitle={"text-left"} positionBar={"top"} />
		<p class="mt-10">La información que usted nos proporciona como médico o paciente al solicitar nuestros servicios de diagnóstico en GastroLab, o al visitar nuestro sitio web, o al comunicarse con nosotros solicitando información, o al responder nuestras encuestas, es manejada por nosotros como información confidencial. Esta información no será entregada, vendida o rentada a terceros. Esta información es utilizada por nosotros únicamente para enviarle o darle acceso a información especializada, enviarle resultados de exámenes que nos ha solicitado, mejorar el contenido de nuestro sitio web, mejorar el servicio que le prestamos, o para contactarlo con propósitos de mercadeo de nuestros servicios.</p>
		<p class="mt-5">Nosotros almacenamos en nuestro servidor dedicado exclusivamente para ese propósito toda la información que nos proporciona. Nosotros hacemos todo lo que esté a nuestro alcance en un momento dado para que dicha información se mantenga protegida del acceso de ‘hackers’ informáticos pero no podemos asegurar esto completamente.</p>
		<p class="mt-5">Si usted encuentra que un tercero está utilizando la información que nos proporcionó en algún momento, debe tomar en cuenta que esto está ocurriendo sin conocimiento ni consentimiento nuestro. El USUARIO y CONTRASEÑA que le proporcionamos o validamos es para acceder a información exclusivamente dirigida a usted. Hemos tomado todas las precauciones posibles para que ninguna otra persona tenga acceso a dicha información.</p>
		<p class="mt-5">Si usted recibe en cualquier momento un email de nosotros y no desea recibir más emails, por favor mande un mensaje a info@gastrolabperu.com indicando que no desea recibir emails de GastroLab.</p>
	</div>
</Layout>