<!-- Aviso de Cookies -->
<div id="cookie-banner" class="min-h-48 fixed bottom-0 left-0 w-full bg-gray-800 text-white text-sm p-4 flex items-center justify-between hidden z-50">
  <div class="max-w-5xl mx-auto flex">
    <div>
      En Gastrolab Perú, utilizamos cookies para mejorar tu experiencia en nuestro sitio, personalizar el contenido y analizar el tráfico. Al continuar navegando, aceptas nuestra <a href="/politica-de-cookies" class="underline">Política de Privacidad</a>
    </div>
    <button id="close-banner" class="ml-4 bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded">Aceptar</button>
  </div>
</div>

<script is:inline>
  const banner = document.getElementById('cookie-banner');
  const closeBtn = document.getElementById('close-banner');

  // Mostrar automáticamente si no fue aceptado aún
  if (!localStorage.getItem('cookiesAccepted')) {
    console.log("first")
    banner.classList.remove('hidden');
  }

  // También mostrar si se hace clic en cualquier enlace (opcional)
  document.querySelectorAll('a').forEach(link => {
    link.addEventListener('click', () => {
      if (!localStorage.getItem('cookiesAccepted')) {
        console.log("second")
        banner.classList.remove('hidden');
      }
    });
  });

  // Al hacer clic en "Aceptar"
  closeBtn.addEventListener('click', () => {
    banner.classList.add('hidden');
    localStorage.setItem('cookiesAccepted', 'true');
  });
</script>
