<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 -mt-40">
    <div class="bg-primary relative h-80 flex justify-end hover:drop-shadow-primary-card transition-all duration-300">
        <img src="/recursos/doctor-smile-women.webp" alt="pacientes" class="absolute bottom-0 -left-5 w-50 object-cover">
        <div class="w-[55%] h-full flex flex-col gap-y-10 justify-center items-center">
            <h3 class="text-3xl font-semibold text-white">Pacientes</h3>
            <a 
                href="/pacientes" 
                class="text-xs font-bold text-primary bg-white rounded-full px-7 py-3 border border-primary transition-colors duration-300 uppercase hover:bg-primary hover:text-white hover:border hover:border-white">
                Ver más
            </a>
        </div>
    </div>
    <div class="bg-white relative h-80 flex justify-end hover:drop-shadow-white-card transition-all duration-300">
        <img src="/recursos/doctor-men-young.webp" alt="medicos" class="absolute bottom-0 -left-2 w-52 object-cover">
        <div class="w-[55%] h-full flex flex-col gap-y-10 justify-center items-center">
            <h3 class="text-3xl font-semibold text-primary">Médicos</h3>
            <a 
                href="/medicos" 
                class="text-xs font-bold text-white bg-primary rounded-full px-7 py-3 border border-white transition-colors duration-300 uppercase hover:bg-white hover:text-primary hover:border hover:border-primary">
                Ver más
            </a>
        </div>
    </div>
    <div class="bg-white relative h-80 flex justify-end hover:drop-shadow-white-card transition-all duration-300">
        <img src="/recursos/ejecutivo-saco.webp" alt="pacientes" class="absolute bottom-0 -left-2 w-52 object-cover">
        <div class="w-[55%] h-full flex flex-col gap-y-10 justify-center items-center">
            <h3 class="text-3xl font-semibold text-primary">Convenios/</br>Compañías</h3>
            <a 
                href="/convenios" 
                class="text-xs font-bold text-white bg-primary rounded-full px-7 py-3 border border-white transition-colors duration-300 uppercase hover:bg-white hover:text-primary hover:border hover:border-primary">
                Ver más
            </a>
        </div>
    </div>
</div>