---
import { Image } from "astro:assets";
import Title from "./Title.astro";
interface Props {
    title: string;
    tipo: string;
    image: string;
    link: string;
}
const { title, tipo, image, link } = Astro.props;
---

<div class="flex flex-col md:flex-row items-end mt-32 shadow-lg rounded-2xl bg-white">
    <div class="w-full">
        <Image
            src={`/recursos/${image}`}  
            alt="workers" 
            class="w-full" 
            width="180"
            height="55" 
        />
    </div>
    <div class="w-full p-10 md:p-20 text-right">
        <span class="uppercase text-primary font-bold text-sm mb-4 block">{tipo}</span>
        <Title title={title} classTitle={"text-right"} positionBar={"top"} />
        <div class="text-right mt-5">
            <a 
                href={link} 
                class="text-xs font-bold text-white bg-primary rounded-full px-7 py-3 border border-primary transition-colors duration-300 uppercase hover:bg-white hover:text-primary hover:border hover:border-primary ml-auto mt-5 block w-32 text-center drop-shadow-xl drop-shadow-primary/30">
                Buscar
            </a>
        </div>
    </div>
</div>