<!-- nombre, DNi, especialidad , número de CMP, teléfono, correo electrónico y especialidad. -->
<form action="" class="flex flex-col md:flex-row items-stretch">
    <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3 flex-1 bg-white rounded-3xl p-5 z-10">
        <div>
            <label class="sr-only" for="name">Nombres</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su nombre" type="text" id="name">
        </div>
        <div>
            <label class="sr-only" for="name">Apellidos</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese sus apellidos" type="text" id="name">
        </div>
        <div>
            <label class="sr-only" for="email">Documento de Identidad</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su DNI" type="email" id="email">
        </div>
        <div class="col-span-2">
            <label class="sr-only" for="name">Correo electrónico</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su correo electrónico" type="email" id="name">
        </div>
        <div>
            <label class="sr-only" for="phone">Celular</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su número de celular" type="tel" id="phone">
        </div>
        <div>
            <label class="sr-only" for="phone">Número de CMP</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su número de CMP" type="text" id="phone">
        </div>
        <div class="col-span-2">
            <label class="sr-only" for="phone">Especialidad</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingrese su especialidad" type="text" id="phone">
        </div>
        <div class="col-span-3">
            <p class="italic text-sm">* Si ya tienes una cuenta, inicia sesión <span class="open-modal cursor-pointer font-medium text-primary">aquí<span/></p>
        </div>
    </div>
    <div>
        <button type="submit" class="cursor-pointer md:-ml-5 inline-block h-full rounded-3xl md:rounded-tr-3xl md:rounded-br-3xl sm:w-auto w-full pl-5 md:pl-10 pr-5 py-3 font-medium text-white bg-primary hover:bg-primary-light transition-color duration-300">Registrarse</button>
    </div>
</form>