<!-- Nombre , Apellido, DNI, Fecha de nacimiento, Correo electrónico, sexo y número de celular -->
<!-- TODO: Agregar validaciones, solo mostrar formulario cuando no hay registro -->
<form action="" class="flex flex-col md:flex-row items-stretch">
    <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3 flex-1 bg-white rounded-3xl p-5 z-10">
        <div>
            <label class="sr-only" for="name">Nombres</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingresa tu nombre" type="text" >
        </div>
        <div>
            <label class="sr-only" for="name">Apellidos</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingresa tus apellidos" type="text" >
        </div>
        <div>
            <label class="sr-only" for="email">Documento de Identidad</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingresa tu DNI" type="email" >
        </div>
        <div class="col-span-2">
            <label class="sr-only" for="name">Correo electrónico</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingresa tu correo electrónico" type="email" >
        </div>
        <div>
            <label class="sr-only" for="phone">Celular</label>
            <input class="w-full border border-gray-200 p-3 text-sm focus:ring-transparent focus:border-gray-300" placeholder="Ingresa tu número de celular" type="tel" >
        </div>
        <div class="col-span-3">
            <p class="italic text-sm">* Si ya tienes una cuenta, inicia sesión <span class="open-modal cursor-pointer font-medium text-primary">aquí<span/></p>
        </div>
    </div>
    <div>
        <button type="submit" class="cursor-pointer md:-ml-5 inline-block h-full rounded-3xl md:rounded-tr-3xl md:rounded-br-3xl sm:w-auto w-full pl-5 md:pl-10 pr-5 py-3 font-medium text-white bg-primary hover:bg-primary-light transition-color duration-300">Registrarse</button>
    </div>
</form>