---
interface Props {
    title: string;
    classTitle?: string;
    positionBar?: string;
}
const { title, classTitle, positionBar } = Astro.props;
---
<div class="w-full">
    {
        positionBar === "top" &&
        <div class={`flex gap-x-3 mb-3 ${classTitle == "text-right" ? "justify-end" : "justify-start"}`}>
            <span class="bg-primary rounded-full w-36 h-[12px]"></span>
            <span class="bg-primary rounded-full w-12 h-[12px]"></span>
        </div>
    }
    {
        positionBar === "center" &&
        <div class="flex justify-center gap-x-3 mb-3">
            <span class="bg-primary rounded-full w-36 h-[12px]"></span>
            <span class="bg-primary rounded-full w-12 h-[12px]"></span>
        </div>
    }
    <h2 class={`text-3xl md:text-4xl w-full font-bold ${classTitle}`}>
        {title}
    </h2>
    {
        positionBar === "bottom" &&
         <div class={`flex gap-x-3 mt-3 ${classTitle == "text-right" ? "justify-end" : "justify-start"}`}>
            <span class="bg-primary rounded-full w-36 h-[12px]"></span>
            <span class="bg-primary rounded-full w-12 h-[12px]"></span>
        </div>
    }
</div>