---
import Title from "./Title.astro";
---

<div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center mt-20 shadow-lg rounded-2xl bg-white">
    <div class="w-full">
        <img 
            src="/recursos/doctora.webp"
            alt="workers" 
            class="w-full" 
            width="180"
			height="55" 
        />
    </div>
    <div class="w-full p-10 md:p-20">
        <Title title="Trabaja con nosotros" classTitle={"text-right"} positionBar={"top"} />
        <div class="text-right mt-20 md:mt-32">
            <p class="text-lg text-black/70">Trabajemos juntos para cuidar la salud de su equipo. Contáctenos en info@gastrolabperu.com o 988 801 315 (WhatsApp), para conocer más sobre nuestros planes y beneficios exclusivos para empresas.</p>
            <p class="italic font-medium text-xl my-5">GastroLab, su socio en salud y bienestar corporativo.</p>
            <a 
                href="" 
                class="text-xs font-bold text-white bg-primary rounded-full px-7 py-3 border border-primary transition-colors duration-300 uppercase hover:bg-white hover:text-primary hover:border hover:border-primary ml-auto mt-10 block w-32 text-center drop-shadow-xl drop-shadow-primary/30">
                Ver más
            </a>
        </div>
    </div>
</div>