---
import Title from "../components/Title.astro";
---

<section class="max-w-7xl mx-auto mt-32">
    <Title 
        title="Blog" 
        classTitle={"text-center"} 
        positionBar={"center"} 
    />
</section>