---
import { Image } from "astro:assets";
---

<footer class="w-full bg-secondary pt-20 pb-5 px-5 md:px-0">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
        <div class="flex flex-col">
            <Image
                src="/logo-blanco.svg"
                alt="Logo GastroLab"
                class="w-50"
                width="180"
                height="55"
            />
            <p class="text-white text-sm mt-10">
                GastroLab es un laboratorio clínico moderno y totalmente especializado en el campo de la investigación y diagnóstico de enfermedades gastrointestinales en todas las edades. GastroLab está ubicado en Lima, Perú.
            </p>
        </div>
        <div class="text-white">
            <h3 class="uppercase text-sm font-bold relative pb-3 after:absolute after:w-[7%] after:h-1 after:bg-primary after:left-0 after:bottom-0">Horario de atención</h3>
            <ul class="mt-10 text-sm">
                <li>Lunes a Viernes: 8:00 am - 5.00 pm</li>
            </ul>
        </div>
        <div class="text-white">
            <h3 class="uppercase text-sm font-bold relative pb-3 after:absolute after:w-[7%] after:h-1 after:bg-primary after:left-0 after:bottom-0">Contáctenos</h3>
            <ul class="mt-10 text-sm">
                <li>Dirección: Av. El Polo 740, Of. C-414, C.C. El Polo, Surco, Lima.</li>
                <li>Email: <a href="mailto:info@gastrolabperu.com">info@gastrolabperu.com</a></li>
                <li>WhatsApp: <a href="tel:+51988801315">+51 988 801 315</a></li>
                <li>Atención al cliente: <a href="tel:+51955148675">+51 955 148 675</a></li>
            </ul>
        </div>
    </div>
    <div class="pt-5 border border-t-white/30 mt-20 text-center">
        <p class="text-white/50 text-xs">Desarrollado por: <a class="font-semibold" href="https://www.sietemedios.com/" target="_blank">Siete Medios</a></p>
    </div>
</footer>