---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'
---

<footer class="w-full bg-secondary pt-20 pb-5 px-5 md:px-0">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
        <div class="flex flex-col">
            <Image
                src="/logo-blanco.svg"
                alt="Logo GastroLab"
                class="w-50"
                width="180"
                height="55"
            />
            <p class="text-white text-sm mt-10">
                GastroLab es un laboratorio clínico moderno y totalmente especializado en el campo de la investigación y diagnóstico de enfermedades gastrointestinales en todas las edades. GastroLab está ubicado en Lima, Perú.
            </p>
        </div>
        <div class="text-white">
            <h3 class="uppercase text-sm font-bold relative pb-3 after:absolute after:w-[7%] after:h-1 after:bg-primary after:left-0 after:bottom-0">Horario de atención</h3>
            <ul class="mt-6 text-sm">
                <li>Lunes a Viernes: 8:00 am - 5.00 pm</li>
            </ul>
            <h3 class="mt-10 uppercase text-sm font-bold relative pb-3 after:absolute after:w-[7%] after:h-1 after:bg-primary after:left-0 after:bottom-0">Redes Sociales</h3>
            <ul class="mt-6 text-sm">
                <li>
                    <a href="https://www.facebook.com/gastrolabperu" target="_blank" class="group ">
                        <Icon name="facebook" class="w-7 h-7 text-white group-hover:scale-110 transition-transform duration-300" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-white">
            <h3 class="uppercase text-sm font-bold relative pb-3 after:absolute after:w-[7%] after:h-1 after:bg-primary after:left-0 after:bottom-0">Cómo Contactarse Con Nosotros</h3>
            <ul class="mt-6 text-sm">
                <li>Dirección: Av. El Polo 740, Of. C-414, C.C. El Polo, Surco, Lima.</li>
                <li>Email: <a href="mailto:info@gastrolabperu.com">info@gastrolabperu.com</a></li>
                <li>WhatsApp: <a href="tel:+51988801315">+51 988 801 315</a></li>
                <li>Atención al cliente: <a href="tel:+51955148675">+51 955 148 675</a></li>
            </ul>
            <a href=""><img src="/recursos/LibroReclamaciones.svg" alt="Logo Libro de Reclamaciones" class="w-48 h-auto mt-5" /></a>
        </div>
    </div>
    <div class="max-w-7xl mx-auto pt-5 border border-t-white/30 mt-10 text-center flex justify-between items-center">
        <p class="text-white/70 text-sm font-light">Copyright© 2025 GastroLab Perú - Todos los derechos reservados.</p>
        <ul class="inline-flex text-white/90 text-sm divide-x divide-white/40 font-light">
            <li class="pr-5 hover:text-white transition-colors duration-300">
                <a href="/aviso-legal">Aviso Legal</a>
            </li>
            <li class="px-5 hover:text-white transition-colors duration-300">
                <a href="/politica-confidencialidad">Política de Confidencialidad</a>
            </li>
        </ul>
    </div>
</footer>