---
import Title from "../components/Title.astro";
const postsEnfermedades = Astro.props.postEnfermedades;
interface Post {
  title: string;
  content: string;
}
---

<section class="bg-[url('/recursos/microscop.jpg')] bg-repeat-x py-20 px-5 md:px-0">
    <div class="max-w-7xl mx-auto my-32">
        <Title title="Lista de enfermedades y condiciones médicas" classTitle={"text-left"} positionBar={"top"} />
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-10">
            {
                    postsEnfermedades.map((post: Post) => (
                        <div class="bg-white rounded-3xl p-10 flex flex-col justify-center items-start">
                <h3 class="text-xl text-left font-medium">{post.title}</h3>
                <p class="text-black/70 mt-3">{post.content}</p>
            </div>
                    ))
                }
            <!-- <div class="bg-white rounded-3xl p-10 flex flex-col justify-center items-start">
                <h3 class="text-xl text-left font-medium">Diabetes Mellitus</h3>
                <p class="text-black/70 mt-3">Diabetes Mellitus es una enfermedad que causa daño en la función renal, que se caracteriza por una elevación de los niveles de glucosa en la sangre.</p>
            </div>
            <div class="bg-white rounded-3xl p-10 flex flex-col justify-center items-start">
                <h3 class="text-xl text-left font-medium">Hipertensión Arterial</h3>
                <p class="text-black/70 mt-3">Hipertensión Arterial es una enfermedad que afecta a la presión sanguínea en la arteria coronaria.</p>
            </div>
            <div class="bg-white rounded-3xl p-10 flex flex-col justify-center items-start">
                <h3 class="text-xl text-left font-medium">Cardiopatía Isquémica</h3>
                <p class="text-black/70 mt-3">Cardiopatía Isquémica es una enfermedad que afecta a la presión sanguínea en la arteria coronaria.</p>
            </div> -->
        </div>
    </div>
</section>