---
import CardNews from "../components/CardNews.astro";
import Title from "../components/Title.astro";

import { getLatestPost } from "../lib/wp";

interface Post {
  title: string;
  content: string;
  image: string;
  slug: string;
}

const postsNewaLatest = await getLatestPost({perPage: 3, category: "6"});
---

<section class="max-w-7xl mx-auto my-32">
    <Title
        title="Noticias" 
        classTitle={"text-left"} 
        positionBar={"top"} 
    />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-7 mt-20">
        {
            postsNewaLatest.map((post: Post) => (
                <CardNews 
                    title={post.title} 
                    content={post.content} 
                    image={post.image} 
                    slug={`/noticias/${post.slug}`} 
                />
            ))
        }
    </div>
</section>