---
import { Icon } from 'astro-icon/components'
---
<section class="px-5 md:px-0">
    <div class="max-w-7xl mx-auto my-32">
        <h2 class="text-4xl w-full font-bold">¿Por qué atenderse con nosotros?</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-20">
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Diagnostico</h3>
                <p class="text-black/70 pl-20 mt-3">El diagnóstico es la primera etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas.</p>
            </div>
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Tratamiento</h3>
                <p class="text-black/70 pl-20 mt-3">El tratamiento es la segunda etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas de la enfermedad.</p>
            </div>
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Tratamiento</h3>
                <p class="text-black/70 pl-20 mt-3">El tratamiento es la segunda etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas de la enfermedad.</p>
            </div>
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Tratamiento</h3>
                <p class="text-black/70 pl-20 mt-3">El tratamiento es la segunda etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas de la enfermedad.</p>
            </div>
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Tratamiento</h3>
                <p class="text-black/70 pl-20 mt-3">El tratamiento es la segunda etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas de la enfermedad.</p>
            </div>
            <div class="relative">
                <span class="rounded-full w-14 h-14 bg-primary absolute top-0 left-0 flex items-center justify-center">
                    <Icon name="bars" class="text-white text-2xl" />
                </span>
                <h3 class="text-xl font-bold pl-20">Tratamiento</h3>
                <p class="text-black/70 pl-20 mt-3">El tratamiento es la segunda etapa de cualquier tratamiento. El tratamiento médico se enfoca en identificar los síntomas y los sintomas de la enfermedad.</p>
            </div>
        </div>
    </div>
</section>