---
import { ClientRouter } from "astro:transitions";

import Navbar from "../components/Navbar.astro";
import '@fontsource-variable/montserrat';
import "../styles/global.css";
import Footer from "../sections/Footer.astro";
import AvisoCookies from "../components/AvisoCookies.astro";
import ModalLogin from "../components/ModalLogin.astro";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>GastroLab</title>
		<ClientRouter />
	</head>
	<body>
		<Navbar />
		<slot />
		<ModalLogin />
		<Footer />
		<AvisoCookies />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Montserrat Variable', sans-serif;
	}
	.no-scroll {
		overflow: hidden;
	}
</style>